<<<<<<< HEAD
<h2><%=h "#{@issue.tracker.name} ##{@issue.id}" %></h2>

<%= render :partial => 'edit' %>
<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
<% end %>
=======
<h2><%=h "#{@issue.tracker.name} ##{@issue.id}" %></h2>

<%= render :partial => 'edit' %>
<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
<% end %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
