<<<<<<< HEAD
<%= error_messages_for @group %>

<div class="box tabular">
  <p><%= f.text_field :name, :required => true, :size => 60 %></p>
  <% @group.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :group, value %></p>
  <% end %>
</div>
=======
<%= error_messages_for @group %>

<div class="box tabular">
  <p><%= f.text_field :name, :required => true, :size => 60 %></p>
  <% @group.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :group, value %></p>
  <% end %>
</div>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
