<<<<<<< HEAD
<%= title [l(:label_plugins), {:controller => 'admin', :action => 'plugins'}], @plugin.name %>

<div id="settings">
<%= form_tag({:action => 'plugin'}) do %>
<div class="box tabular settings">
<%= render :partial => @partial, :locals => {:settings => @settings}%>
</div>
<%= submit_tag l(:button_apply) %>
<% end %>
</div>
=======
<%= title [l(:label_plugins), {:controller => 'admin', :action => 'plugins'}], @plugin.name %>

<div id="settings">
<%= form_tag({:action => 'plugin'}) do %>
<div class="box tabular settings">
<%= render :partial => @partial, :locals => {:settings => @settings}%>
</div>
<%= submit_tag l(:button_apply) %>
<% end %>
</div>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
