<<<<<<< HEAD
<h4><%= link_to h(document.title), document_path(document) %></h4>
<p><em><%= format_time(document.updated_on) %></em></p>

<div class="wiki">
  <%= textilizable(truncate_lines(document.description), :object => document) %>
</div>
=======
<h4><%= link_to h(document.title), document_path(document) %></h4>
<p><em><%= format_time(document.updated_on) %></em></p>

<div class="wiki">
  <%= textilizable(truncate_lines(document.description), :object => document) %>
</div>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
