<<<<<<< HEAD
<%= error_messages_for 'auth_source' %>

<div class="box tabular">
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.check_box :onthefly_register, :label => :field_onthefly %></p>
</div>
=======
<%= error_messages_for 'auth_source' %>

<div class="box tabular">
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.check_box :onthefly_register, :label => :field_onthefly %></p>
</div>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
