<<<<<<< HEAD
<h2><%=l(:label_version_new)%></h2>

<%= labelled_form_for @version, :url => project_versions_path(@project) do |f| %>
<%= render :partial => 'versions/form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>
=======
<h2><%=l(:label_version_new)%></h2>

<%= labelled_form_for @version, :url => project_versions_path(@project) do |f| %>
<%= render :partial => 'versions/form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
