<<<<<<< HEAD
<p><%= l(:notice_account_activated) %></p>
<p><%= l(:label_login) %>: <%= link_to h(@login_url), @login_url %></p>
=======
<p><%= l(:notice_account_activated) %></p>
<p><%= l(:label_login) %>: <%= link_to h(@login_url), @login_url %></p>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
