<<<<<<< HEAD
<p><%= l(:mail_body_lost_password) %><br />
<%= link_to h(@url), @url %></p>

<p><%= l(:field_login) %>: <b><%=h @token.user.login %></b></p>
=======
<p><%= l(:mail_body_lost_password) %><br />
<%= link_to h(@url), @url %></p>

<p><%= l(:field_login) %>: <b><%=h @token.user.login %></b></p>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
