<<<<<<< HEAD
<h1><%=h @message.board.project.name %> - <%=h @message.board.name %>: <%= link_to(h(@message.subject), @message_url) %></h1>
<em><%=h @message.author %></em>

<%= textilizable(@message, :content, :only_path => false) %>
=======
<h1><%=h @message.board.project.name %> - <%=h @message.board.name %>: <%= link_to(h(@message.subject), @message_url) %></h1>
<em><%=h @message.author %></em>

<%= textilizable(@message, :content, :only_path => false) %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
