<<<<<<< HEAD
<h1><%= link_to(h(@news.title), @news_url) %></h1>

<p><%= l(:text_user_wrote, :value => h(@comment.author)) %></p>

<%= textilizable @comment, :comments, :only_path => false %>
=======
<h1><%= link_to(h(@news.title), @news_url) %></h1>

<p><%= l(:text_user_wrote, :value => h(@comment.author)) %></p>

<%= textilizable @comment, :comments, :only_path => false %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
