<<<<<<< HEAD
<h1><%= link_to(h(@news.title), @news_url) %></h1>
<em><%=h @news.author.name %></em>

<%= textilizable(@news, :description, :only_path => false) %>
=======
<h1><%= link_to(h(@news.title), @news_url) %></h1>
<em><%=h @news.author.name %></em>

<%= textilizable(@news, :description, :only_path => false) %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
