<<<<<<< HEAD
<h2><%=l(:label_password_lost)%></h2>

<%= form_tag(lost_password_path) do %>
  <div class="box tabular">
    <p>
      <label for="mail"><%=l(:field_mail)%> <span class="required">*</span></label>
      <%= text_field_tag 'mail', nil, :size => 40 %>
      <%= submit_tag l(:button_submit) %>
    </p>
  </div>
<% end %>
=======
<h2><%=l(:label_password_lost)%></h2>

<%= form_tag(lost_password_path) do %>
  <div class="box tabular">
    <p>
      <label for="mail"><%=l(:field_mail)%> <span class="required">*</span></label>
      <%= text_field_tag 'mail', nil, :size => 40 %>
      <%= submit_tag l(:button_submit) %>
    </p>
  </div>
<% end %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
