<<<<<<< HEAD
<h2><%= l(:label_query) %></h2>

<%= form_tag(query_path(@query), :onsubmit => 'selectAllOptions("selected_columns");', :method => :put) do %>
  <%= render :partial => 'form', :locals => {:query => @query} %>
  <%= submit_tag l(:button_save) %>
<% end %>
=======
<h2><%= l(:label_query) %></h2>

<%= form_tag(query_path(@query), :onsubmit => 'selectAllOptions("selected_columns");', :method => :put) do %>
  <%= render :partial => 'form', :locals => {:query => @query} %>
  <%= submit_tag l(:button_save) %>
<% end %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
