<<<<<<< HEAD
<% unless controller_name == 'admin' && action_name == 'index' %>
  <% content_for :sidebar do %>
    <h3><%=l(:label_administration)%></h3>
    <%= render :partial => 'admin/menu' %>
  <% end %>
<% end %>

<%= render :file => "layouts/base" %>
=======
<% unless controller_name == 'admin' && action_name == 'index' %>
  <% content_for :sidebar do %>
    <h3><%=l(:label_administration)%></h3>
    <%= render :partial => 'admin/menu' %>
  <% end %>
<% end %>

<%= render :file => "layouts/base" %>
>>>>>>> 3817f1e30455f4df5135af5f608f1a3912fcf4ff
